body
{
   background-color: #473f3f;
   width: 900px;
}

main
{
   border-right: 2px solid #ab970d;
   width: 70%;
   position: fixed;
   top: 0;
   bottom: 0;
   padding-left: 5%;
}

nav
{
   border-left: 2px solid #ab970d;
   border-right: 2px solid #ab970d;
   position: fixed;
   width: 2rem;
   height: 100%;
   top: 0;
   right: 9%;

   font-family: sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
}

nav div
{
   border-top: 2px solid #ab970d;
   height: 5.85%;
   width: 100%;
   color: #ab970d;
   text-align: center;
   line-height: 1.3em;
}

.spacer
{
   height: 7%;
   border:none;
}

.odd
{
   background-color: #ab970d;
   color: #473f3f;
}

nav div:nth-child(n+2):hover
{
   background-color: #a23542;
}

footer
{
   border-top: 2px solid #ab970d;
   position: fixed;
   bottom: 0;
   left: 0;
   height: 25%;
   width: 100%;
}

/* Page content below; framework above */

h1
{
   font-family: Impact, sans-serif;
   font-size: 5.5em;
   color: #a23542;
   font-variant: small-caps;
   line-height: 0.6em;
   background-color: #473f3f;
}

h1>span
{
   font-size: 1.5em;
}

h1>span>span
{
   color: #ab970d;
   font-size: 0.7em;
}

h2
{
   font-family: sans-serif;
   font-weight: 200;
   color: #ab970d;
   font-size: 2rem;
   letter-spacing: 12px;
   margin-top: 30px;
   background-color: #473f3f;
}

p
{
   font-family: sans-serif;
   font-weight: 200;
   color: #ab970d;
   font-size: 1.5rem;
   letter-spacing: 5px;
   margin-top: 30px;
   background-color: #473f3f;
   margin-right: 17%;
   margin-top: 2em;
}

/* Page-specific*/

.home-header
{
   position: relative;
   right: 0.08em;
}

a
{
   text-decoration:none;
}
