body
{
   background-color: #473f3f;
}

.frame
{
   position: fixed;
   border: 2px solid #ab970d;
   width: 800px;
   height: 550px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

main
{
   border-right: 2px solid #ab970d;
   width: 70%;
   position: absolute;
   top: 0;
   bottom: 0;
   padding-left: 5%;
}

.column
{
   width: 5%;
   height: 100%;
   position: absolute;
   left: 80%;
   border-left: 1px solid #ab970d;
   border-right: 1px solid #ab970d;
}

.column2
{
   width: 3%;
   height: 100%;
   position: absolute;
   left: 97%;
   border-left: 1px solid #ab970d;
}

nav
{
   border-left: 2px solid #ab970d;
   border-right: 2px solid #ab970d;
   position: absolute;
   width: 2rem;
   height: 100%;
   top: 0;
   right: 9%;

   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5rem;
}

nav div
{
   border-top: 2px solid #ab970d;
   height: 5.8%;
   width: 100%;
   color: #ab970d;
   text-align: center;
   line-height: 1.25em;
}

.spacer
{
   height: 7%;
   border:none;
}

.odd
{
   background-color: rgba(171,151,13,1);
   color: #473f3f;
}

nav a div:hover
{
   background-color: #a23542;
}

footer
{
   border-top: 2px solid #ab970d;
   position: absolute;
   bottom: 0;
   left: 0;
   height: 25%;
   width: 100%;
}

footer div
{
   height: 30%;
   position: relative;
   top: 20%;
   border-bottom: 1px solid #ab970d;
   border-top: 1px solid #ab970d;
}

/* Page content below; framework above */

h1
{
   font-family: Impact, sans-serif;
   font-size: 5.5em;
   color: #a23542;
   font-variant: small-caps;
   line-height: 0.6em;
   margin-bottom: 50px;
   margin-top: 10px;
}

.home-top
{
   margin-top: 0px;
}

h1>span
{
   font-size: 1.5em;
}

h1>span>span
{
   color: #ab970d;
   font-size: 0.7em;
}

h2
{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   color: #ab970d;
   font-size: 2rem;
   letter-spacing: 12px;
   margin-top: 30px;
   background-color: #473f3f;
}

p
{
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   color: #ab970d;
   font-size: 1.5rem;
   letter-spacing: 2px;
   margin-right: 10%;
   margin-top: 1em;
}

/* Page-specific*/

.home-header
{
   position: relative;
   right: 0.08em;
}

a
{
   text-decoration:none;
}

.main1
{
   background-color: #a23542;
   margin-left: -40px;
   height: 75%;
}

.title1
{
   background-color: #ab970d;
   font-size: 4rem;
   padding-left: 40px;
   padding-bottom: 40px;
   line-height: 5rem;
}

.title1 span
{
   color: #473f3f;
   padding-left: 10px;
}

.text1
{
   font-family: Impact;
   background-color: #a23542;
   color: #473f3f;
   padding-left: 30px;
   margin-top: -15px;
}

.main2
{
   background-color: rgba(171,151,13,0.7);
   margin-left: -40px;
   height: 75%;
}

.title2
{
   background-color: #473f3f;
   padding-left: 30px;
   margin-top: -28px;
   padding-top: 50px;
   padding-bottom: 10px;
   border-bottom: 2px solid #ab970d;
}

.title2 span
{
   font-family: 'Source Sans Pro', sans-serif;
   color: #ab970d;
   font-variant: small-caps;
   font-size: 3.5rem;
}

.text2
{
   background-color: rgba(0,0,0,0);
   color: #473f3f;
   font-weight: 400;
   padding-left: 40px;
   padding-top: 5px;
}

#main3
{
   background-color: rgba(162,53,66,0.5);
}

.title3
{
   padding-left: 8px;
   font-size: 6rem;
}

.text3
{
   color: #a23542;
   padding: 10px;
   font-size: 1.5rem;
   font-weight: 400;
   margin-top: 3em;
   margin-left: 60px;
   border-left: 4px solid #a23542;
   padding-left: 20px;
}
